extends ../layout

block content
  section.bg-white.price
    .container
      .row
        .col-xs-12.text-center
          h2.mt-0 Usuários
          p.lead.text-center Todos os usuários cadastrados no Avalie-me!

        .col-xs-12.mt-40
          table.table.table-hover
            thead
              tr
                th Nome
                th Username
                th Email
                th Data de Cadastro

            tbody
              - each user in users
                tr(id="campanha-" + user._id)
                  td=user.name
                  td=user.username
                  td=user.email
                  td=moment(user.created_at).format('D MMMM YYYY, h:mm:ss')

        .col-xs-12.text-center.mt-60
          h2.mt-0 Planos
          p.lead.text-center Todos os Planos disponíveis no Avalie-me!

        .col-xs-12.mt-40
          table.table.table-hover
            thead
              tr
                th Plano
                th Limite
                th Preço

            tbody
              - each plan in plans
                tr(id="campanha-" + plan._id)
                  td=plan.name
                  td=plan.user_limit
                  td=plan.price