doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='Devtas | github.com/devtas')
    meta(name='description', content='Avalie-me é um mostruário online para apresentação dos serviços e trabalhos desenvolvidos ao cliente. Serviço voltado para freelancers e profissionais autônomos, aumentando assim o profissionalismo e a agilidade no processo de aprovação do trabalho.')
    meta(name='keywords', content='avalie-me, avaliar projeto freelancer, avaliar projeto design, mostruário online de projetos, freelancer, design, job, aprovar job freelancer')

    title #{title} - Avalie-me
    
    link(rel="stylesheet", href="/fonts/stylesheet.css")
    link(rel="stylesheet", href="/css/geral.min.css")
    link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/style.css")

  body

    header
      .container
        .row
          .col-xs-3
            a(href="/")
              img(src="/img/logo-white.png", border="0")
          .col-xs-6
            nav.pull-right
              ul.nav.nav-pills
                li(class="ng-class: page == 'home'? 'active': 'normal'")
                  a(href="/") Home
                li
                  a(href="/sobre") Sobre
                li 
                  a(href="/depoimentos") Depoimentos
                li 
                  a(href="/precos") Planos
                li 
                  a(href="/contato") Contato

          .col-xs-3.text-right
            a(href="/login")
              .btn.btn-transparent.mr-10.no-border LOGIN
            a(href="/signup")
              .btn.btn-default.btn-signup CADASTRE-SE GRÁTIS

    block content

    footer
      .container.app-footer
        .row
          .col-xs-12.col-sm-4.mt-20
            img.logo-footer(src="/img/logo-white.png", border="0")
            p.mt-10.mb-0 Tel.: 11 9 6440.6752
            p.mp-0(title="contato@avaliemeapp.com") contato at avaliemeapp dot com

          .col-xs-6.col-sm-4
            ul
              li.title Institucional
              li
                a(href="/") Home
              li
                a(href="/sobre") Sobre
              li 
                a(href="/depoimentos") Depoimentos
              li 
                a(href="/precos") Planos
                li 
                  a(href="/contato") Contato

          .col-xs-6.col-sm-4
            ul
              li.title App
              li
                a(href="/signup") Cadastre-se
              li
                a(href="/login") Login
              li
                a(href="/login") Esqueceu a senha?

    // LOAD JQUERY
    script(src='//code.jquery.com/jquery-1.12.0.min.js')
    // LOAD ANGULAR
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js')
    script(src='//code.angularjs.org/1.5.2/angular-route.js')
    // LOCAL SCRIPTS
    script(type="text/javascript" src="/js/app-scripts.js")