extends layout

block content
  section.bg-white.price
    .container
      .row
        .col-xs-12.text-center
          h2.mt-0 Acesse
          p.lead.text-center Sua conta Avalie-me!

        .col-xs-12.col-md-4.col-md-offset-4.mt-40
          form.form-login(role="form" action="/login" method="post")
            .form-group
              input.form-control(type="text" placeholder="Seu username" name="username")
                
            .form-group
              input.form-control(type="password" placeholder="Sua senha" name="password")
                
            .form-group
              .checkbox
                input(type="checkbox" name="connect" id="checkConnect")
                label(for="checkConnect") Manter conectado?

            .form-group
              button.btn.btn-default.pull-right.btn-block.mb-20(type="submit") Entrar

            .form-group.help-text
              .row
                .col-xs-5.text-left
                  small
                    a.gray-link(href="#") Esqueceu a senha?
                .col-xs-7.text-right
                  small Ainda não tem conta? 
                    a(href="/signup") Cadastre-se
