extends layout

block content
  section.bg-white.price
    .container
      .row
        .col-xs-12.text-center
          h2.mt-0 Preços
          p.lead.text-center Veja os planos abaixo, e escolha o que melhor se adapte a sua necessidade.

      .row.mt-40
        .col-xs-4.mt-10
          .jumbotron.text-center.mt-3
            h2 Basic
            //p.text-center Lorem Ipsum
            ul.list-group
              li.list-group-item Clientes ilimitados
              li.list-group-item 3 Jobs/mês
              li.list-group-item Sistema de aprovação
              li.list-group-item Sistema de comentários
            h3 R$ 29,90 
              small p/ mês
            p.mt-20
              a.btn.btn-block.btn-default.semibold.uppercase(href="/signup?plan=basic") Experimentar Grátis

        .col-xs-4
          .jumbotron.text-center.recommend-plan
            h1.mt-0 Smart
            //p.text-center Dolor Sit
            ul.list-group
              li.list-group-item Clientes ilimitados
              li.list-group-item 10 Jobs/mês
              li.list-group-item Sistema de aprovação
              li.list-group-item Sistema de comentários
            h3 R$ 59,90 
              small.white p/ mês
            p.mt-40
              a.btn.btn-block.btn-default.semibold.uppercase(href="/signup?plan=smart") Experimentar Grátis

        .col-xs-4.mt-10
          .jumbotron.text-center.mt-3
            h2 Optimus
            //p.text-center Amet Lorem
            ul.list-group
              li.list-group-item Clientes ilimitados
              li.list-group-item Jobs ilimitados
              li.list-group-item Sistema de aprovação
              li.list-group-item Sistema de comentários
            h3 R$ 79,90 
              small p/ mês
            p.mt-20
              a.btn.btn-block.btn-default.semibold.uppercase(href="/signup?plan=optimus") Experimentar Grátis