extends layout

block content
  section.bg-white.price
    .container
      .row
        .col-xs-12.text-center
          h2.mt-0 Cadastre-se
          p.lead.text-center E teste grátis!
          small.uppercase.light-gray Não é necessário Cartão de Crédito 

        .col-xs-12.col-md-4.col-md-offset-4.mt-40
          form(role="form" ng-app="formSignup" ng-controller="signupController" ng-submit="processForm()")
            .form-group
              input.form-control(type="text" placeholder="Seu nome" name="name" ng-model="formData.name" required)

            .form-group
              input.form-control(type="text" placeholder="Crie um username" name="username" ng-model="formData.username" required)

            .form-group
              input.form-control(type="email" placeholder="Seu e-mail" name="email" ng-model="formData.email" required)

            .form-group
              input.form-control(type="password" placeholder="Crie uma senha" name="password" ng-model="formData.password" required)

            .form-group
              button.btn.btn-default.pull-right.btn-block.mb-20(id="btn-submit-signup" type="submit" data-loading-text="Loading..." autocomplete="off") Cadastrar

            .form-group.text-center.help-text
              small Já possui conta? 
                a(href="/login") Acesse
