extends layout

block content
  section
    .container.text-center
      h1.semibold.white.mb-20.mt-0.uppercase Por quê as pessoas usam o Avalie-me?
      a(href="/signup")
        .btn.btn-lg.btn-free-test.mt-20.mb-10 COMECE AGORA E TESTE GRÁTIS

  section.bg-white.testimonials
    .container
      .row
        .col-xs-12.text-center
          h2.mt-0 Depoimentos

        .col-xs-12.text-center
          blockquote.mt-40
            p Antes, todos os meus trabalhos demoravam muito para serem aprovados, devido a dificuldade que encontrava em enviá-los por e-mail, etc.
              small Thiago Andrade

          blockquote.mt-40
            p Agora eu consigo faturar muito mais rápido. O Avalie.me trouxe agilidade no processo de aprovação!
              small Augusto César

          blockquote.mt-40
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
              small Kaio Moreira