body {
  background: url('../img/bg-man.jpg') repeat-x top center;
  /*background-size: cover;*/
  font-family: 'open_sanslight', sans-serif;
  margin: 0;
  padding: 0;
}

/* Bootstraping */
.btn {
  border-radius: 2px;
}

.btn.no-border {
  border-width: 0;
}

input,
.btn {
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}

form .form-group {
  margin-bottom: 25px;
}

/*
form .checkbox label {
  display: inline-block;
  cursor: pointer;
  font-size: 13px;
  margin-right: 15px;
  position: relative;
  padding-left: 25px;
}

form .checkbox input[type=checkbox] {
  display: none;
}

form .checkbox label:before {
  border-radius: 3px;
}

form .checkbox input[type=checkbox]:checked + label:before {
  color: #f3f3f3;
  content: "\2713";
  font-size: 15px;
  line-height: 15px;
  text-align: center;
}*/
/* Bootstraping */

.uppercase {
  text-transform: uppercase;
}

a {
  color: #ff7e00;
}

a:hover {
  color: #ff7e00;
  text-decoration: none;
}

a.gray-link {
  color: #333;
}

.light {
  font-family: 'open_sanslight', sans-serif !important;
}

.regular {
  font-family: 'open_sansregular', sans-serif !important;
}

.semibold {
  font-family: 'open_sanssemibold', sans-serif !important;
}

.white {
  color: #ffffff;
}

.light-gray {
  color: #ccc;
}

header {
  font-family: 'open_sansregular', sans-serif;
  padding: 27px 0;
}

header nav a {
  color: #ffffff;
  text-transform: uppercase;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}

header .btn-signup {
  background-color: transparent;
  border-color: #ff7e00;
  color: #ff7e00;
}

header .btn-signup:hover {
  background-color: #ff7e00;
  border-color: #ff7e00;
  color: #fff;
}

.nav>li>a:hover, .nav>li>a:focus {
  background: rgba(255, 255, 255, 0.15);
  color: #ffffff;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  background: #ffffff;
  color: #000000;
}

.btn-transparent {
  background: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.btn-transparent:hover {
  background: rgba(255, 255, 255, 0.15);
  color: #ffffff;
}

.btn-free-test {
  background: #ff7e00;
  color: #ffffff;
  font-family: 'open_sanssemibold';
  font-size: 14px;
}

.btn-free-test:hover {
  color: #ffffff;
  opacity: 0.7;
}

.home-call {
  color: #ffffff;
  height: 270px;
  margin: 120px auto 0;
  width: 660px;
}

.home-call h1 {
  font-size: 40px;
}

.home-call .big {
  font-size: 90px;
  font-style: italic;
}

.home .btn-free-test {
  font-size: 16px;
  margin: 0 auto;
  padding: 18px 30px;
}

footer {
  background: #1c1f26;
  color: #737373;
  font-size: 15px;
  padding: 60px 0;
}

footer ul {
  list-style: none;
}

footer ul li.title {
  color: #ff7e00;
  font-size: 16px;
}

footer .logo-footer {
  opacity: 0.5;
}

footer .app-footer li a {
  color: #737373;
}

@media(max-width: 640px) {
  footer .app-footer {
    margin-bottom: 30px;
    margin-top: 0 !important;
  }
  footer .app-footer, footer .app-footer p {
    text-align: center;
  }
}

section {
  padding: 90px 0;
}

section h2 {
  font-size: 40px;
}

section p {
  color: #737373;
  font-size: 24px;
}

section.bg-white {
  background: #ffffff;
}

section.avaliacao {
  background: #1d2128;
}

section.avaliacao h2, section.inteligente h2 {
  color: #ffffff;
}

section.inteligente p {
  color: #aeaeae;
}

section.inteligente {
  background: #26211b;
}

section.inteligente p {
  color: #aeaeae;
}

.funciona-steps {
  font-size: 24px;
  margin: 0 auto;
  width: 400px;
}

.recommend-plan {
  background: #ff7e00;
  color: #ffffff;
}

.recommend-plan p {
  color: #ffffff;
}

.recommend-plan ul {
  color: #737373;
}

form .help-text {
  margin-top: 20px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
  border-radius: 0 !important;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  box-shadow: none;
  font-size: 16px;
  padding: 23px 18px !important;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus {
  box-shadow: none;
  border-color: #FF7E00;
}

form textarea {
  border-radius: 0 !important;
  border-left-width: 0 !important;
  border-right-width: 0 !important;
  border-top-width: 0 !important;
  box-shadow: none !important;
  font-size: 16px !important;
  padding: 18px !important;
}

form button[type="submit"],
form input[type="submit"] {
  background-color: #FF7E00;
  border-radius: 0 !important;
  border-width: 0;
  color: #fff;
  font-size: 16px;
  padding: 16px 22px !important;
}

form button[type="submit"]:hover,
form input[type="submit"]:hover {
  background-color: #FF7E00;
  color: #fff;
  opacity: 0.8;
}

.price .jumbotron a.btn {
  font-size: 16px;
  padding: 12px 22px !important;
}