
.modal.fade(tabindex='-1', role='dialog', id="modal-delete-client" style="margin-top: 100px;")
  .modal-dialog.modal-sm
    .modal-content
      form(action="/app/clients/delete/" method="post")
        input.client-id(type="hidden" name="client_id")
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title 

        .modal-body
          p Deseja excluir este projeto?

        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Cancelar
          button.btn.btn-primary.btn-danger(type='submit')
            i.fa.fa-close
            | Excluir


.modal.fade(tabindex='-1', role='dialog', id="modal-delete-project" style="margin-top: 100px;")
  .modal-dialog.modal-sm
    .modal-content
      form(action="/app/projects/delete/" method="post")
        input.project-id(type="hidden" name="project_id")
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title 

        .modal-body
          p Deseja excluir este cliente?

        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Cancelar
          button.btn.btn-primary.btn-danger(type='submit')
            i.fa.fa-close
            | Excluir