
section(style="margin-top: 60px;")
  .container
    .row
      .col-xs-12.text-center
        h1
          i.pe-7s-switch
        p.lead.text-center Nenhum #{unit} cadastrado
        a.btn.btn-default(href="#{page}/new") Adicionar #{unit}