
.sidebar .nav > li.active-pro{
  position: absolute;
  width: 100%;
  bottom: 10px;
}
.sidebar .nav > li.active-pro a{
  background: rgba(255, 255, 255, 0.14);
  opacity: 1;
  color: #FFFFFF;
}

.projects-list .card {
  border-radius: 0;
  border: 1px solid #dedee0;
  border-left-width: 6px;
  box-shadow: none;
}

.projects-list .card .header {
  padding: 25px 25px 0;
}

.projects-list .card .header .subtitle {
  color: #a2a3b1;
  font-weight: lighter;
  margin-top: 2px;
}

.projects-list .card .content,
.projects-list .card .footer {
  padding: 0 25px 15px;
}

.projects-list .card .header .btn-project-options .dropdown-toggle {
  cursor: pointer;
  padding: 0 5px 0 4px; 
}

.table .action-column a {
  margin-right: 10px;
}