extends layout

block content

  - if(clients.length)
    .container-fluid
      .row
        .col-md-9
          h2 #{title} 
        .col-md-3
          a.btn.pull-right(href="/app/clients/new") NOVO CLIENTE
      .row
        .col-xs-12
          .card
            table.table.table-hover
              thead
                tr
                  th Nome
                  th Website
                  th Responsável
                  th E-mail
                  th Telefone
                  th Ações

              tbody
                - each client in clients
                  tr
                    td #{client.name}
                    td #{client.website}
                    td #{client.responsible}
                    td #{client.email}
                    td #{client.phone}
                    td.action-column(width="200")
                      a.btn.btn-xs(href="/app/clients/edit/#{client._id}") Editar
                      a.btn.btn-xs.btn-danger(href="#" data-toggle="modal" data-target="#modal-delete-client" data-client-id="#{client._id}" data-name="#{client.name}") Excluir


  - if(!clients.length)
    include ./templates/no-result-list.jade


  script(type='text/javascript').
    $(document).ready(function(){
      $(".clients-menu").addClass('active');
    });