extends layout

block content
  section.price
    .container
      .row
        .col-xs-12.text-center
          h1
            i.pe-7s-rocket
          p.lead.text-center Faça mais com o Avalie-me

      .row
        - if (totals.projects > 0)
          .col-md-6.text-center
            .card
              .header
                h2 #{totals.projects}
              .content
                p Projeto(s) cadastrado(s)
                a(href="/app/projects") VER PROJETOS
                br
                br

        - if (totals.clients > 0)
          .col-md-6.text-center
            .card
              .header
                h2 #{totals.clients}
              .content
                p Cliente(s) cadastrado(s)
                a(href="/app/clients") VER CLIENTES
                br
                br

  script(type='text/javascript').
    $(document).ready(function(){
      $(".dashboard-menu").addClass('active');
    });