doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='Devtas | github.com/devtas')
    meta(name='description', content='Avalie-me é um mostruário online para apresentação dos serviços e trabalhos desenvolvidos ao cliente. Serviço voltado para freelancers e profissionais autônomos, aumentando assim o profissionalismo e a agilidade no processo de aprovação do trabalho.')
    meta(name='keywords', content='avalie-me, avaliar projeto freelancer, avaliar projeto design, mostruário online de projetos, freelancer, design, job, aprovar job freelancer')

    title #{title} - Avalie-me
    
    // Styles
    link(rel="stylesheet", href="/app/css/bootstrap.min.css")
    link(rel="stylesheet", href="/app/css/animate.min.css")
    link(rel="stylesheet", href="/app/css/light-bootstrap-dashboard.css")
    link(rel="stylesheet", href="/app/css/app.css")

    // Fonts and Icons
    link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css')
    link(href='/app/css/pe-icon-7-stroke.css' rel='stylesheet')

    // Only Jquery is loadad befor
    script(src='/app/js/jquery-1.10.2.js', type='text/javascript')


  body

    include ./templates/modals.jade

    .wrapper
      .sidebar(data-color='orange' data-image='/app/img/sidebar-5.jpg')
        //
          Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
          Tip 2: you can also add an image using data-image tag
        .sidebar-wrapper
          .logo
            a.simple-text(href='/app/')
              img(src="/img/logo-white.png", border="0")
          ul.nav
            li.dashboard-menu
              a(href='/app')
                i.pe-7s-graph
                p Dashboard

            li.projects-menu
              a(href='/app/projects')
                i.pe-7s-portfolio
                p Projetos

            li.clients-menu
              a(href='/app/clients')
                i.pe-7s-global
                p Clientes

            li.profile-menu
              a(href='/app/profile')
                i.pe-7s-user
                p Perfil
            //li
              a(href='')
                i.pe-7s-note2
                p Table List
              li
                a(href='')
                  i.pe-7s-news-paper
                  p Typography
              li
                a(href='')
                  i.pe-7s-science
                  p Icons
              li
                a(href='')
                  i.pe-7s-map-marker
                  p Maps
              li
                a(href='')
                  i.pe-7s-bell
                  p Notifications
            li.active-pro
              a(href='')
                i.pe-7s-rocket
                p upgrade to PRO

      .main-panel
        nav.navbar.navbar-default.navbar-fixed
          .container-fluid
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navigation-example-2')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='#') #{title}
            .collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-left
                //li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    i.fa.fa-globe
                    b.caret
                    span.notification 5
                  ul.dropdown-menu
                    li
                      a(href='#') Notification 1
                    li
                      a(href='#') Notification 2
                    li
                      a(href='#') Notification 3
                    li
                      a(href='#') Notification 4
                    li
                      a(href='#') Another notification
                li
                  a(href='')
                    i.fa.fa-search
              ul.nav.navbar-nav.navbar-right
                //li
                  a(href='')
                    | Account
                //li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | Dropdown
                    b.caret
                  ul.dropdown-menu
                    li
                      a(href='#') Action
                    li
                      a(href='#') Another action
                    li
                      a(href='#') Something
                    li
                      a(href='#') Another action
                    li
                      a(href='#') Something
                    li.divider
                    li
                      a(href='#') Separated link
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | #{userData.username}
                    span.caret
                  ul.dropdown-menu
                    li
                      a(href='/app/profile') Perfil
                    li.divider
                    li
                      a(href='/logout') Sair
        .content
          block content

      //footer.footer
        .container-fluid
          nav.pull-left
            ul
              li
                a(href='#')
                  | Home
              li
                a(href='#')
                  | Company
              li
                a(href='#')
                  | Portfolio
              li
                a(href='#')
                  | Blog
          p.copyright.pull-right
            | © 2016 
            a(href='http://www.creative-tim.com') Creative Tim
            | , made with love for a better web




    // Core JS Files
    script(src='/app/js/bootstrap.min.js', type='text/javascript')

    // Checkbox, Radio & Switch Plugins
    script(src='/app/js/bootstrap-checkbox-radio-switch.js')

    // Charts Plugin
    script(src='/app/js/chartist.min.js')

    // Notifications Plugin
    script(src='/app/js/bootstrap-notify.js')

    // Google Maps Plugin
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?sensor=false')

    // Light Bootstrap Table Core javascript and methods for Demo purpose
    script(src='/app/js/light-bootstrap-dashboard.js')

    // The app scripts
    script(src='/app/js/app-scripts.js')

    // Light Bootstrap Table DEMO methods, don't include it in your project!
    //script(src='/app/js/demo.js')
    //script(type='text/javascript').
      $(document).ready(function(){
      demo.initChartist();
      $.notify({
      icon: 'pe-7s-gift',
      message: "Welcome to <b>Light Bootstrap Dashboard</b> - a beautiful freebie for every web developer."
      },{
      type: 'warning',
      timer: 4000
      });
      });