extends layout

block content
  .container-fluid
    .row

      .col-md-4
        .card.card-user
          .image
            img(src='/app/img/sidebar-1.jpg', alt='...')
          .content
            .author
              a(href='#')
                img.avatar.border-gray(src='/app/img/avalie-me-profile.png' alt='#{userData.name}' title='#{userData.name}')
                h4.title
                  | #{userData.name}
                  br
                  small #{userData.username}
          hr
          .text-center
            button.btn.btn-simple(href='#{userData.facebook}')
              i.fa.fa-facebook-square
            button.btn.btn-simple(href='#{userData.twitter}')
              i.fa.fa-twitter
            button.btn.btn-simple(href='#{userData.google_plus}')
              i.fa.fa-google-plus-square


      .col-md-8
        .card
          .header
            h4.title Perfil
          .content
            form
              .row
                .col-md-5
                  .form-group
                    label Nome
                    input.form-control(type='text', placeholder='Company', value='#{userData.name}')
                .col-md-3
                  .form-group
                    label Username
                    input.form-control(type='text', placeholder='Username', value='#{userData.username}')
                .col-md-4
                  .form-group
                    label E-mail
                    input.form-control(type='email', placeholder='E-mail', value="#{userData.email}")

              .row
                .col-md-6
                  .form-group
                    label Empresa
                    input.form-control(type='text', placeholder='Empresa', value='#{userData.company}')
                .col-md-6
                  .form-group
                    label Website
                    input.form-control(type='text', placeholder='www.exemplo.com', value='#{userData.website}')

              .row
                .col-md-4
                  .form-group
                    label País
                    input.form-control(type='text', placeholder='Ex.: Brasil', value='#{userData.country}')
                .col-md-4
                  .form-group
                    label Cidade
                    input.form-control(type='text', placeholder='Ex.: São Paulo', value='#{userData.city}')
                .col-md-4
                  .form-group
                    label Endereço
                    input.form-control(type='text', placeholder='Rua - Av.', value='#{userData.address}')

              //.row
                .col-md-12
                  .form-group
                    label About Me
                    textarea.form-control(rows='5', placeholder='Here can be your description', value='Mike') Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.

              button.btn.btn-info.btn-fill.pull-right(type='submit') Atualizar perfil
              .clearfix

  script(type='text/javascript').
    $(document).ready(function(){
      $(".profile-menu").addClass('active');
    });