extends layout

block content


  .container-fluid.projects-list
    .row
      .col-md-9
        h2 #{title} 
      .col-md-3
        a.btn.pull-right(href="/app/projects/new") NOVO PROJETO

    - if(projects.length)
      .row
        - each project in projects
          .col-md-4
            .card
              .header
                .dropdown.pull-right.btn-project-options
                  .dropdown-toggle(data-toggle='dropdown')
                    span.caret
                  ul.dropdown-menu
                    li
                      a(href='/app/project/#{project._id}') Ver projeto
                    li
                      a(href='/app/project/edit/#{project._id}') Editar projeto
                    li.divider
                    li
                      a(href='#' data-toggle="modal" data-target="#modal-delete-project" data-project-id="#{project._id}" data-name="#{project.name}") Excluir projeto


                h4.title #{project.name}
                h5.subtitle
                  | #{project.client.name} 
                  - if (project.client.responsible != '')
                    | - #{project.client.responsible}
                  span.text-success  R$ #{project.price}
              .content
                p.category #{project.description}
              .footer
                .row
                  .col-sm-6 
                    .stats #{moment(project.createdAt).format('D MMMM YYYY')}
                  .col-sm-6.text-right
                    .stats Entrega: #{moment(project.deadline).format('D MMMM YYYY')}


    - if(!projects.length)
      include ./templates/no-result-list.jade


  script(type='text/javascript').
    $(document).ready(function(){
      $(".projects-menu").addClass('active');
    });