extends ../layout

block content

  .container-fluid
    .row
      .col-md-12
        .card
          .header
            h4.title Informações do projeto: #{dados.name}
          .content
            form(role="form" action="/app/project/edit/save" method="post" )
              input(type='hidden' name='project_id', value="#{dados._id}")
              .row
                .col-md-4
                  .form-group
                    label Nome do projeto
                    input.form-control(type='text', placeholder='Ex.: Site Google' name='name', value='#{dados.name}', required)

                .col-md-4
                  .form-group
                    label Cliente
                    select.form-control(name='client')
                      option(value="") Selecione...
                      - each client in clients
                        option(value="#{client._id}") #{client.name}

                //.col-md-4
                  .form-group
                    label Responsável
                    input.form-control(type='text', placeholder='em construção', value='em construção', name='responsible', disabled='')

              .row
                .col-md-12
                  .form-group
                    label Descrição
                    textarea.form-control(placeholder='Descreva o projeto', name='description', rows='5') #{dados.description}

              .row
                .col-md-4
                  .form-group
                    label Valor do projeto
                    .input-group
                      .input-group-addon R$
                      input.form-control(type='text', placeholder='Ex.: R$ 1.000.000', name='price', value='#{dados.price}')
                .col-md-4
                  .form-group
                    label Previsão de entrega
                    input.form-control(type='text', placeholder='Ex.: 15/03/2100', name='deadline', value='#{dados.deadline}', disabled='')

              .row
                .col-md-12
                  .form-group
                    input.btn.btn-success.pull-right(type='submit' value="Salvar alterações")
                    a.btn.pull-right(href='/app/projects' style="margin-right: 20px;") Cancelar alterações


  script(type='text/javascript').
    $(document).ready(function(){
      $(".clients-menu").addClass('active');
    });