extends ../layout

block content

  .container-fluid
    .row
      .col-md-12
        .card
          .header
            h4.title Informações do projeto
          .content
            form(role="form" action="/app/projects/new/save/" method="post" )
              .row
                .col-md-4
                  .form-group
                    label Nome do projeto
                    input.form-control(type='text', placeholder='Ex.: Site Google' name='name', required)
                .col-md-4
                  .form-group
                    label Cliente
                    select.form-control(name='client')
                      option(value="") Selecione...
                      - each client in clients
                        option(value="#{client._id}") #{client.name}

                //.col-md-4
                  .form-group
                    label Responsável
                    input.form-control(type='text', placeholder='em construção', value='em construção', name='responsible', disabled='')

              .row
                .col-md-12
                  .form-group
                    label Descrição
                    textarea.form-control(placeholder='Descreva o projeto', value='', name='description', rows='5')

              .row
                .col-md-4
                  .form-group
                    label Valor do projeto
                    .input-group
                      .input-group-addon R$
                      input.form-control(type='text', placeholder='Ex.: R$ 1.000.000', name='price')
                .col-md-4
                  .form-group
                    label Previsão de entrega
                    input.form-control(type='text', placeholder='Ex.: 15/03/2100', name='deadline', disabled='')
                .col-md-4
                  .form-group
                    label Status
                    select.form-control(name='status')
                      option(value="0") Projeto em andamento
                      option(value="1") Projeto enviado
                      option(value="2") Projeto reprovado
                      option(value="3") Projeto aprovado
              .row
                .col-md-12
                  .form-group
                    input.btn.btn-primary.pull-right(type='submit' value="Adicionar projeto") 



  script(type='text/javascript').
    $(document).ready(function(){
      $(".projects-menu").addClass('active');
    });