extends ../layout

block content

  .container-fluid
    .row
      .col-md-12
        h2 #{project.name}

    .row
      .col-md-12
        .card
          .header
            h4.title Informações do projeto
          .content
            p Status #{project.status}
            p R$ #{project.price}
            p #{project.client.name} - #{project.client.responsible}
            p #{project.description}
            p Criado em: #{moment(project.createdAt).format('D MMMM YYYY')}
            p Entrega: #{moment(project.deadline).format('D MMMM YYYY')}

    .row
      .col-md-12
        h4.title Peças
        hr
        .row
          .col-md-3
            .card
              .header
                h5 asdasdadasdasd
              .content
                p asdASdasd

  script(type='text/javascript').
    $(document).ready(function(){
      $(".projects-menu").addClass('active');
    });