extends ../layout

block content

  .container-fluid
    .row
      .col-md-12
        .card
          .header
            h4.title Informações de #{dados.name}
          .content
            form(role="form" action="/app/clients/edit/save" method="post" )
              input(type='hidden' name='client_id', value="#{dados._id}")
              .row
                .col-md-4
                  .form-group
                    label Nome do cliente
                    input.form-control(type='text', placeholder='Ex.: Google' name='name', value="#{dados.name}", required)
                .col-md-4
                  .form-group
                    label Website
                    input.form-control(type='text', placeholder='Ex.: www.google.com', name='website', value="#{dados.website}")
                .col-md-4
                  .form-group
                    label Área de atuação
                    input.form-control(type='text', placeholder='Ex.: Estúdio fotográfico', name='area', value="#{dados.area}")

              .row
                .col-md-4
                  .form-group
                    label Responsável
                    input.form-control(type='text', placeholder='Ex.: Thiago D.', name='responsible', value="#{dados.responsible}")
                .col-md-4
                  .form-group
                    label E-mail
                    input.form-control(type='text', placeholder='Ex.: contact@mail.com', name='email', value="#{dados.email}")
                .col-md-4
                  .form-group
                    label Telefone
                    input.form-control(type='text', placeholder='Ex.: +00 00 0000-0000', name='phone', value="#{dados.phone}")

              .row
                .col-md-12
                  .form-group
                    input.btn.btn-success.pull-right(type='submit' value="Salvar alterações")
                    a.btn.pull-right(href='/app/clients' style="margin-right: 20px;") Cancelar alterações



  script(type='text/javascript').
    $(document).ready(function(){
      $(".clients-menu").addClass('active');
    });