extends ../layout

block content

  .container-fluid
    .row
      .col-md-12
        .card
          .header
            h4.title Informações do cliente
          .content
            form(role="form" action="/app/clients/new/save/" method="post" )
              .row
                .col-md-4
                  .form-group
                    label Nome do cliente
                    input.form-control(type='text', placeholder='Ex.: Google' name='name' required)
                .col-md-4
                  .form-group
                    label Website
                    input.form-control(type='text', placeholder='Ex.: www.google.com', name='website')
                .col-md-4
                  .form-group
                    label Área de atuação
                    input.form-control(type='text', placeholder='Ex.: Estúdio fotográfico', name='area')

              .row
                .col-md-4
                  .form-group
                    label Responsável
                    input.form-control(type='text', placeholder='Ex.: Thiago D.', name='responsible')
                .col-md-4
                  .form-group
                    label E-mail
                    input.form-control(type='text', placeholder='Ex.: contact@mail.com', name='email')
                .col-md-4
                  .form-group
                    label Telefone
                    input.form-control(type='text', placeholder='Ex.: +00 00 0000-0000', name='phone')

              .row
                .col-md-12
                  .form-group
                    input.btn.btn-primary.pull-right(type='submit' value="Adicionar cliente")



  script(type='text/javascript').
    $(document).ready(function(){
      $(".clients-menu").addClass('active');
    });